astroid==2.3.3
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
cycler==0.10.0
Flask==1.1.1
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.2
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycparser==2.19
pylint==2.4.4
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.12
typed-ast==1.4.0
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
wrapt==1.11.2
