{% extends "layout.html" %}

{% block title %}
    Rotten Prunes
{% endblock %}

{% block body %}
    <div class="container">
        <h6 class="lead">Search a book! </h6>
        <form action="{{ url_for('result') }}" method="POST"> <!-- POST means submit data to url-->
            <div class="form-group"> 
                <input type="text" class="form-control" name='book' placeholder="Author or Title or ISBN">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            
        </form>
    </div>
{% endblock %}