{% extends "layout.html" %}

{% block title %}
    Sign up! 
{% endblock %}

{% block body %}

<h1> Register </h1>

<form action="{{ url_for('signup') }}" method="POST">
    <div class="form-group">
        <label>Username</label>
        <input type='text' class="form-control" name='username' placeholder="Username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type='password' class="form-control" name='password' placeholder="Be creative">
    </div>

    <div class="form-group">
        <label>Retype Password</label>
        <input type='password' class="form-control" name='retype-password' placeholder="Don't lose it">
    </div>

    <div>
        <button type="create" class="btn btn-primary">Create Account</button>
    </div>
    
</form>


{% endblock %}